/* You can add global styles to this file, and also import other style files */
.link-custom {
    color: var(--bs-primary)!important;
}

.nav-link.active {
    color: var(--bs-white) !important;
}

.text-title-card{
    font-size: 1.5rem !important;
}

.text-redes{
    font-size: 1rem !important;
}

.logo-footer {
    width: 25px;
}